
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    background: #141414;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

